<div :class="$style.container">

  <div :class="$style.info_container">
    <label>
      <input type="text" v-model="realName" placeholder="请填写真实姓名">
    </label>

    <label>
      <input type="text" v-model="storeName" placeholder="请填写店铺名称">
    </label>

    <label>
      <input type="text" v-model="contactAddress" placeholder="请填写联系地址">
    </label>

    <div :class="$style.channel_container">
      <p ref="anchorContent" @click="showChannel = true" :class="optionValue.value?$style.black_color:$style.normal_color">
        {{optionValue.text}} <span></span>
      </p>
    </div>

    <div :class="$style.mask" v-if="showChannel" @click="showChannel = false">
      <ul ref="optionPannel" @touchmove.prevent>
        <li :class="optionValue.value === option.value?$style.selected:''" v-for="option in options"
            @click="select(option)">
          {{option.text}}
        </li>
      </ul>
    </div>

    <button @click="next">提交审核</button>

  </div>
</div>
