<div :class="$style.mian">
  <div :class="$style.header">
    {{ title }}
  </div>

  <div :class="$style.info_container">
    <label>
      <input type="text" v-model="realName" placeholder="请填写真实姓名">
    </label>

    <label>
      <input type="text" v-model="storeName" placeholder="请填写店铺名称">
    </label>

    <label>
      <input type="text" v-model="storeName" placeholder="请填写联系地址">
    </label>

    <p>请选择分销渠道 <span></span></p>

    <van-dropdown-menu active-color="#ee0a24">
      <van-dropdown-item v-model="value1" :options="option1" />
      <van-dropdown-item v-model="value2" :options="option2" />
    </van-dropdown-menu>
  </div>
</div>
