.header {
  height: .76rem;
  background-color: #ff3167;
  text-align: center;
  font-size: .3rem;
  line-height: .76rem;
  color: #fff;
}

.container {
  text-align: center;
}

.container .success {
  width: 1.32rem;
  height: 1.32rem;
  margin: 1.6rem auto 0;
  background-image: url('/images/1562670342190_2xKJRiJ22D.gif');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
