.count {
    display: inline-block;
    font-size: 0;
    line-height: 1;
}

.count input {
    width: .36rem;
    line-height: .36rem;
    border: none;
    background-color: #f1f1f1;
    padding: 0;
    margin: 0 1px 0 0;
    outline: none;
    text-align: center;
    font-size: .24rem;
    color: #605e5d;
    border-radius: 3px;
}

.count input:last-child {
    margin-right: 0;
}

.count input[type=text] {
    background-color: #f1f1f1;
    color: #222;
}

.disabled {
    background-color: #f9f9f9!important;
    color: #ccc!important;
}

.cart input {
    border-right: none;
}

.cart input[type=text] {
    width: 1.5em;
}

.cart input:last-child {
    color: #ff3657;
}
